@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Zen+Dots&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans TC', 'Zen Dots';
}

a {
    color: inherit;
    text-decoration: none;
}
